{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}MTG Card Collection{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Your Collections</h2>
  <div class="row">
    {% for collection in collections %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ collection['name'] }}</h5>
            <a href="{{ url_for('mtg.collection', collection_id=collection['id']) }}" class="btn btn-primary">View Collection</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="mt-4">
    <a href="{{ url_for('mtg.collections') }}" class="btn btn-lg btn-secondary mr-2">View All Collections</a>
    <a href="{{ url_for('mtg.create_collection') }}" class="btn btn-lg btn-success">Create New Collection</a>
  </div>
{% endblock %}